<div class="row">
  <div class="col-md-12 mb-3">
    <div class="jumbotron">
      {{!-- <img class="image" src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwic1qq-w6zmAhVFvZ4KHZpnBjsQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.itbusiness.ca%2Fnews%2Fseniors-most-likely-to-benefit-from-digital-health-technologies-but-least-likely-to-adopt-it%2F93126&psig=AOvVaw2rjI6G1KpWJKzvj3q67SGg&ust=1576116989137343"> --}}
      <h1 class="display-4">Telehealth Devices</h1>
      <p class="lead">Web App to manage Telehealth and Patient Safety Monitoring devices</p>
      <hr class="my-4">
      <p>Create, update, track, ping, and make a report for the status of the devices</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
</div>










<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>